.login-form {
  width: 300px; /* Set the width of the form */
  margin: auto; /* Center the form horizontally */
  margin-top: 100px; /* Add some top margin for spacing */
}

.full-width {
  width: 100%; /* Make the input fields full width */
}

button {
  margin-top: 20px; /* Add some top margin to the button */
  width: 100%; /* Make the button full width */
}
